:root{
    --blue-1: #3C429E;
    --blue-2: #4C52AD;
    --yellow-1: #FAC742;
    --white-1: #FFF;
    --grey-1: #EDEDED;
    --shadow-dark: rgba(0,0,0,0.3);
    --shadow-light: rgba(255,255,255,0.1);
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-image: url("assets/bg.webp");
   background-size: 100%;
   background-repeat: no-repeat;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 16px;
   width: 100%;
   height: 100vh;
   background-color: var(--blue-1); 
   display: flex;
   justify-content: center;
   align-items: center;

}
.container{
  width: 400px;
  height: 80vh;
  border-color: var(--blue-2);
  border-radius: 20px; 
}
.upper-data{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.upper-data img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.lower-data{
    position: relative;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;

}
.weather-data {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-color: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location{
    color: var(--white-1);
    text-align: center;
    font-size: 1.2em;
}
.temprature{
    color: var(--white-1);
    font-size: 4em;
    text-align: center;
    font-weight: 900;
}
.more-info-label{
color: var(--white-1);

}
.more-info-container{
    flex: 1;
    border-color: var(--shadow-light);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.info-block{
    width: 50%;
    display: flex;
    flex-direction: row;

}
.info-block-label{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.info-block-label img{
    width: 2em;

}
.info-block-label span{
    color: var(--white-1);
    font-size: 0.8em;
}
.info-block-value{
    width: 50%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: var(--white-1);

}
.search{
    margin-bottom: 1em;
    text-align: center;
}
.search input{
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: black;
    font-size: 0.8em;
    text-align: center;
}